# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
broadcast/coffeeFactory.s.sol/11155111/run-latest.json
index2.html
broadcast/coffeeFactory.s.sol/11155111/run-1765062167378.json
